<header>
    <ul class="flex">
        <li><a href="/" class="home header-link">Inventory Application</a></li>
        <li><a href="/items" class="header-link">Items</a></li>
        <li><a href="/categories" class="header-link">Categories</a></li>
    </ul>
</header>