<!DOCTYPE html>
<html>
<head>
  <title>Inventory Application</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('header') %>
  <main>
    <h1>Inventory Application</h1>
    <p>Manage your inventory by costumizing the application to your liking</p>
    <p>Add all your items and split them by categories so that you can easily find them later</p>
    <div class="actions flex">
        <a href="/items">View your items</a>
        <a href="/categories">View your categories</a>
    </div>
  </main>
</body>
</html>
