<div class="item-card">
    <div class="info-container">
        <a href="/items/<%= id %>"><%= name %></a>
        <span><%= category %></span>
        <div class="quantity"><%= quantity %> 📦</div>
    </div>
</div>