<!DOCTYPE html>
<html>
<head>
  <title>Inventory Application</title>
</head>
<body>
  <%- include('../header') %>
  <main>
    <div class="features">
        <div class="search">
          <!--order by-->
          <!--filter-->
          <!--search-->
        </div>
        <a href="/items/new">Add item</a>
    </div>
    <div class="items-container grid">
        <% items.forEach(i => { %>
            <%- include('item_card', { name: i.name, quantity: i.quantity, id: i.id, category: i.category }) %>
        <% }) %>
    </div>
  </main>
</body>
</html>
