<div class="item-card">
    <div class="img-container">
        <% if (img !== undefined) { %>
            <img src="/<%= img %>" alt="<%= name %>">
        <% } else { %>
            <div style="background-color: bisque;"></div>
        <% } %>
    </div>
    <div class="info-container">
        <div class="name"><%= name %></div>
        <div class="quantity"><%= quantity %></div>
    </div>
</div>