<div class="category-card">
    <span>
        <%= name %>
    </span>
    <div class="actions">
        <a href="/categories/<%= id %>/update">Edit</a>
        <button type="button" data-category-id="<%= id %>" onclick="handleDeleteCategoryClick(this.dataset.categoryId)">Delete category</button>
    </div>
</div>